{% extends 'AppBundle::layout-fo.html.twig' %}

{% block title %}Flare Up{% endblock %}

{% block content %}
    <div class="row article-display">
        <div class="col l9 col m12">
            <img src="{{ asset('bundles/app/images/logo-clear.png') }}">
            <p>{{ 'It\'s annoying, it seems that it is a mistake' }}</p>
        </div>
    </div>
{% endblock %}