{% extends 'AppBundle::layout-fo.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col l12 col m12 col s12">
            <div class="login-page">
                <div class="col l4 col m6 col s12 offset-l4 offset-m3">
                    <div class="login-title">
                        {% if error %}
                            <div class="bg-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
                        {% endif %}
                    </div>
                    <form action="{{ path("app_back_office_security_check") }}" method="post" class="center-block">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="input-field">
                            <i class="mdi-action-perm-identity prefix fa fa-envelope-o"></i>
                            <input id="username" name="_username" type="email" class="validate" placeholder="">
                            <label for="username">Login</label>
                        </div>
                        <div class="input-field">
                            <i class="mdi-action-lock-open prefix fa fa-key fa-3x"></i>
                            <input id="name" name="_password" type="password" class="validate">
                            <label for="name">Password</label>
                        </div>
                        <div class="input-field forgot-password left">
                            <a href="javascript:void(0);">Forgot your Password?</a>
                        </div>
                        <div class="input-field">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                        </div>
                        <div class="input-field">
                            <button name="action" type="submit" class="btn btn-flat waves-effect waves-light shopping-cart-button right" onclick="Materialize.toast('<span>Login Successful</span><a class=&quot;btn-flat yellow-text&quot; href=&quot;#!&quot;><a>', 5000)">Login</button>
                        </diV>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}