.vignet-bulle {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.mdl-layout__header-row .avatar-dropdown > img {
    border-radius: 16px;
}
.mdl-dialog {
    border: none;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    width: 280px; }
.mdl-dialog__title {
    padding: 24px 24px 0;
    margin: 0;
    font-size: 2.5rem; }
.mdl-dialog__actions {
    padding: 8px 8px 8px 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
.mdl-dialog__actions > * {
    margin-right: 8px;
    height: 36px; }
.mdl-dialog__actions > *:first-child {
    margin-right: 0; }
.mdl-dialog__actions--full-width {
    padding: 0 0 8px 0; }
.mdl-dialog__actions--full-width > * {
    height: 48px;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-right: 16px;
    margin-right: 0;
    text-align: right; }
.mdl-dialog__content {
    padding: 20px 24px 24px 24px;
    color: rgba(0,0,0, 0.54);
}
.colorpicker {
    z-index: 1;
}


/* ---------------------------------------------- */
.header-top, header.header-fix .header-top {
    background-color: #424242;
}
header, header.header-fix {
    background-color: #4e4e4e
}
#contain {
    background: url(../../../bundles/app/images/Dark_background_1920x1080.png) center 60px no-repeat;
    background-attachment:fixed;
}
.wrapper {
    background: transparent;
    bottom: 40px;
}
.logo {
    padding: 15px 0;
}
header.header-fix img {
    height: 63px;
}
header.header-fix nav {
    position: relative;
    top: -20px;
}
header.header-fix .nav-wrapper.menu-category a {
    color: #ffffff;
    font-size: 14px;
}
.header-fix .logo {
    padding: 5px 0 20px 0;
}

.sidebar-title {
    background-color: rgba(0,0,0,.3);
    color: #ffffff;
}
.sidbar-box {
    background-color: #4e4e4e;
}
.sidbar-box a {
    border-bottom: 1px solid #2b2b2b;
    color: #ffffff;
}
.news {
    background-color: #4e4e4e;
}
.news-title > a {
    color: #ffffff;
}
.label-category {
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    padding: 3px 10px;
    left: 5px;
    padding: 3px 10px;
    position: absolute;
    top: 5px;
    opacity: 0.8;
}
.label-category.left {
    left: 5px;
    left: 5px;
}
.label-category.right {
    left: 0;
    left: 5px;
}
.news {
    position: relative;
}
.news-title > a:hover, .news-time {
    color: #039be5;
}
.blockquote-breaking {
    background: red;
    background-size: 16px 16px;
    color: #fff;
    font-size: 18px;
    padding: 25px 40px;
}
footer.page-footer {
    background-color: #4e4e4e;
}
footer.page-footer .footer-copyright {
    background-color: #424242;
}
.page-footer ul {
    text-align: center;
}
.news-image {
    height: 153px;
    overflow: hidden;
}
.news-title {
    height: 50px;
}
.social-icon .fa {
    color: #69777f;
}
.social-icon .fa:hover {
    color: #039be5;
}
.footer-button .logo-footer {
    background: #fff;
    border-radius: 50%;
    bottom: 50px;
    color: #fe4080;
    font-size: 42px;
    height: 100px;
    width: 100px;
    padding-top: 28px;
    position: relative;
    text-align: center;
    cursor: default;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -pie-transition-duration: 0.3s;
    display: inline-block;
    line-height: normal;
    z-index: 99;
}
.footer-button .logo-footer:hover {
    background-color: #039be5;
}
.footer-button .logo-footer img {
    width: 100%;
    margin-top: -17px;
}
#form-subscriber {
    padding: 5%;
    overflow: hidden;
}
.shopping-cart-button:hover, .shopping-cart-button:focus {
    background-color: #039be5;
}
.shopping-cart-button {
    border: 2px solid #039be5;
    color: #039be5;;
}
.flashMessage-notice {
    position: fixed;
    z-index: 1000;
    background-color: forestgreen;
    left: 0px;
    right: 0px;
    text-align: center;
    color: white;
    padding: 15px 0px;
    top: 0;
    opacity: 0.7;
}
.flashMessage-error {
    position: fixed;
    z-index: 1000;
    background-color: orange;
    left: 0px;
    right: 0px;
    text-align: center;
    color: white;
    padding: 15px 0px;
    top: 0;
    opacity: 0.7;
}
.client-box {
    background-color: #ffffff;
    text-align: center
}
.client-box.z-depth-1 {
    box-shadow: 0 2px 5px 0 #039be5, 0 2px 10px 0 #039be5
}
.client-box .client-name {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 18px;
}
.news-single.style-3 .news-category {
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    padding: 3px 10px;
    padding: 3px 10px;
    display: inline-block;
}
.advertis {
    background-color: transparent;
    height: auto;
}
.news-detail p {
    margin: 4px 0;
}
.login-page {
    background-color: transparent;
    padding: 120px 0;
}
footer.page-footer {
    margin-top: -20px;
}
#contain {
    padding-bottom: 20px;
}
.mdi-action-perm-identity::before, .mdi-action-lock-open::before {
    content: '';
}
.login-page .input-field .prefix {
    padding-bottom: 19px;
}
input[type="text"]:focus:not([readonly]) + label, input[type="email"]:focus:not([readonly]) + label, input[type="password"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #039be5;
}
input[type="text"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #039be5 !important;
    box-shadow: 0 1px 0 0 #26a69a !important;
}
.article-form {
    background-color: #4e4e4e;
    margin: 16px auto;
    padding: 0;
    width: 1200px;
}
/*.input-field .prefix.active {*/
    /*color: #039be5;*/
/*}*/
.article-form .mdl-card__title {
    display: block;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    height: 66px;
    padding: 16px 15px 0;
    width: 100%;
}
.article-form .mdl-card__title h2:first-of-type {
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-top: 0;
}

.article-form .mdl-card__title .mdl-card__subtitle {
    color: rgba(255, 255, 255, 0.2);
    font-size: 13px;
    font-weight: 300;
    line-height: 1.2em;
}
.login-page .input-field .prefix {
    background-color: #039be5;
}
.mdl-menu .vignet-bulle {
    border-radius: 40px;
    float: left;
    height: 50px;
    margin-right: 10px;
    width: 50px;
}
.profile .profile-box.news {
    background-color: #4e4e4e;
}
.profile .profile-box {
    background-color: #4e4e4e;
}
.breadcrumb {
    padding-left: 8px;
}
.breadcrumb a {
    color: #039be5;
}
.breadcrumb .fa.fa-angle-right {
    color: #ffffff;
}
.profile-detail .profile-by {
    color: #ffffff;
}
.sidbar-box a {
    border: 0;
}
.login, .button-collapse .mdi-navigation-menu, .page-footer li a, footer.page-footer .footer-copyright {
    color: #039be5;
}
.login-page .input-field .prefix ~ input {
    color: #ffffff;
}
.news-single {
    position: relative;
}
.news-single .breadcrumb {
    position: absolute;
    top: 8px;
    left: 8px;
}
.profile-sidebar {
    box-shadow: 0 2px 5px 0 #039be5, 0 2px 10px 0 #039be5;
}
.comment-title {
    float: none;
}
.comment .share {
    background-color: #039be5;
}
.comment-title {
    color: #039be5;
}
.sidbar-box {
    background-color: #4e4e4e;
}
.comment-box {
    border-top: 2px solid #039be5;
}
.comment {
    background-color: #4e4e4e;
    margin-top: 0;
}
.comment-detail p, .comment-time {
    color: #ffffff;
}
.comment-name {
    color: #039be5;
    font-size: 14px;
    font-weight: bold;
}
.comment-time {
    font-style: italic;
}
#contactForm .input-field input, #contactForm .input-field #appbundle_comment_message {
    background-color: white;
}
.discussion .comment-title {
    border-bottom: 2px solid #039be5;
}
.contact-detail {
    background-color: #4e4e4e;
}
.contact-detail .title {
    color: #ffffff;
}
.contact-detail p {
    color: #ffffff;
}
.input-field textarea {
    background-color: #FFFFFF;
}
.profile-sidebar .social-icon .fa {
    color: #69777f;
}
.profile-sidebar .social-icon .fa:hover {
    color: #039be5;
}
.social-icon {
    text-align: center;
}
@media (min-width:320px) and (max-width: 600px) {
    .top-header {
        background: #424242;
        border-bottom: 1px solid #039be5;;
    }
    header.header-fix{ background: #2f3e9b !important; }
}