{% extends 'AppBundle::layout-fo.html.twig' %}

{% block content %}
    <div class="row">
        <div class="login-page">
            <div class="col l4 col m6 col s12 offset-l4 offset-m3">
                {% include "AppBundle:Resetting:request_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}
