{% if parameter.alertOne is not null %}
    <div class="col l12 col m12 col s12">
        <div class="blockquote-breaking z-depth-1">
            {{ parameter.alertOne }}
        </div>
    </div>
{% endif %}